In [28]:
import pandas as pd

In [29]:
data = pd.read_csv('data/courier_wave_info_meituan.csv')

In [30]:
data.head(5)

,dt,courier_id,wave_id,wave_start_time,wave_end_time,order_ids
0,20221017,0,1,1666015199,1666016427,[171478]
1,20221017,0,2,1666019273,1666020782,[116902]
2,20221017,1,1,1665936737,1665937798,[1]
3,20221017,1,2,1665976317,1665979643,"[264834, 107524, 334962, 125682, 493460]"
4,20221017,2,1,1665938277,1665939955,"[264776, 2, 398099, 389973]"

# Data description 
dt: Date of order creation \
courier_id: id of the courier \
wave_id: id of order wave \
wave_start_time: unix time when the first order in the wave is accepted \
wave_end_time: unix time when the last order in the wave is delivered \
order_ids: Set of order ids in the particular wave

In [31]:
testing = data.head(5000)
# groupby wave_id and print how mnay orders are there in each wave
print(data.groupby('wave_id').size())

wave_id
1     28923
2     27179
3     24881
4     22288
5     19651
6     16942
7     14362
8     11943
9      9689
10     7730
11     6010
12     4612
13     3496
14     2575
15     1899
16     1377
17      964
18      686
19      498
20      344
21      240
22      158
23      110
24       67
25       46
26       30
27       18
28        9
29        6
30        5
31        4
32        2
33        2
34        2
dtype: int64