In [1]:
import pandas as pd

In [4]:
all_waybill = pd.read_csv('data/all_waybill_info_meituan_0322.csv')

In [5]:
print(len(all_waybill))
print(all_waybill.columns)

654343
Index(['Unnamed: 0', 'dt', 'order_id', 'waybill_id', 'courier_id', 'da_id',
       'is_courier_grabbed', 'is_weekend', 'estimate_arrived_time',
       'is_prebook', 'poi_id', 'sender_lng', 'sender_lat', 'recipient_lng',
       'recipient_lat', 'grab_lng', 'grab_lat', 'dispatch_time', 'grab_time',
       'fetch_time', 'arrive_time', 'estimate_meal_prepare_time',
       'order_push_time', 'platform_order_time'],
      dtype='object')

In [11]:
all_waybill.head(15)

,Unnamed: 0,dt,order_id,waybill_id,courier_id,da_id,is_courier_grabbed,is_weekend,estimate_arrived_time,is_prebook,...,grab_lng,grab_lat,dispatch_time,grab_time,fetch_time,arrive_time,estimate_meal_prepare_time,order_push_time,platform_order_time,rejected
0,0,20221017,0,0,0,0,0,1,1665937978,0,...,0,0,1665936258,0,0,0,1665936779,1665936000,1665935996,True
1,1,20221017,1,1,1,1,1,1,1665937864,0,...,174530062,45906005,1665936734,1665936737,1665937344,1665937798,1665936845,1665936006,1665935995,False
2,2,20221017,2,2,2,2,1,0,1665939504,0,...,174548244,45870923,1665937484,1665937501,1665938346,1665939384,1665938007,1665937107,1665937097,False
3,3,20221017,3,3,3,0,1,0,1665939432,0,...,174560199,45867948,1665937394,1665937397,1665937830,1665939822,1665937634,1665937369,1665937028,False
4,4,20221017,4,4,4,0,1,0,1665938894,0,...,174554896,45865167,1665937394,1665937413,1665937710,1665938262,1665937694,1665937373,1665937092,False
5,5,20221017,5,5,5,3,1,0,1665940500,0,...,174526338,45912309,1665938727,1665938741,1665940061,1665940496,1665939225,1665938403,1665938399,False
6,6,20221017,6,6,6,2,1,0,1665943672,0,...,174561783,45868495,1665941954,1665941993,1665942156,1665942859,1665942172,1665941872,1665941566,False
7,7,20221017,7,7,7,2,1,0,1665944770,0,...,174557275,45876124,1665942674,1665942684,1665943165,1665944308,1665942970,1665942670,1665942362,False
8,8,20221017,8,8,8,4,0,0,1665970200,1,...,0,0,1665966555,0,0,0,1665945737,1665944915,1665944899,True
9,9,20221017,9,9,9,5,1,0,1665948557,0,...,174555549,45896141,1665946604,1665946623,1665946951,1665947591,1665947117,1665946517,1665946511,False
10,10,20221017,10,10,10,0,1,0,1665949928,0,...,174572714,45860220,1665948254,1665948263,1665948809,1665949058,1665949091,1665948132,1665948120,False
11,11,20221017,11,11,11,0,1,0,1665957504,0,...,174582161,45867402,1665955724,1665955749,1665956326,1665956731,1665956305,1665955705,1665955685,False
12,12,20221017,12,12,12,6,1,0,1665960892,0,...,174944483,46052374,1665959097,1665959106,1665960550,1665960788,1665959933,1665959093,1665959082,False
13,13,20221017,13,13,13,7,1,0,1665978000,1,...,174552394,45851018,1665975406,1665975418,1665976093,1665977540,1665959867,1665959268,1665936351,False
14,14,20221017,14,14,14,4,1,0,1665961500,0,...,174593374,45862036,1665959654,1665959670,1665960708,1665961359,1665959523,1665959523,1665959519,False

In [ ]:
# Added a new column 'rejected' to the all_waybill dataframe. If grab_time, fetch_time, and arrive_time are all 0, set to true. Otherwise set to false.
all_waybill['rejected'] = all_waybill.apply(lambda x: x['grab_time'] == 0 and x['fetch_time'] == 0 and x['arrive_time'] == 0, axis=1)
print(all_waybill['rejected'].value_counts())

rejected
False    568546
True      85797
Name: count, dtype: int64